.gradient-custom {
	/* fallback for old browsers */
	background: #5b5166;

	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(
		to right,
		rgb(129, 105, 155),
		rgb(183, 185, 188)
	);

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(
		to right,
		rgba(129, 105, 155, 1),
		rgb(183, 185, 188)
	);
}

body {
	/* fallback for old browsers */
	background: #5b5166;

	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(
		to right,
		rgb(129, 105, 155),
		rgba(183, 185, 188, 1)
	);

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(
		to right,
		rgba(129, 105, 155, 1),
		rgba(183, 185, 188, 1)
	);
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

body {
	overflow-x: hidden;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

/* Toggle Styles */

#viewport {
	padding-left: 250px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#content {
	width: 100%;
	position: relative;
	margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #212529;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#sidebar header {
	background-color: #212529;
	font-size: 20px;
	line-height: 52px;
	text-align: center;
}

#sidebar header a {
	color: #fff;
	display: block;
	text-decoration: none;
}

#sidebar header a:hover {
	color: #fff;
}

#sidebar .nav a {
	background: none;
	border-bottom: 1px solid #455a64;
	color: #cfd8dc;
	font-size: 14px;
	padding: 16px 24px;
}

#sidebar .nav a:hover {
	background: none;
	color: #eceff1;
}
